<h1>Table of Contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#import_libraries">Import Libraries</a></li>
        <li><a href="#import_dataset">Import "Online Retail" Dataset</a></li>
        <li><a href="#information">Information about the Dataset</a></li>
        <li><a href="#pre-processing">Pre-processing</a></li>                  
    </ol>
</div>
<br>
<hr>

<div id="import_libraries"> 
    <h2>Import Libraries</h2>    
</div>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

<hr>
<div id="import_dataset"> 
    <h2>Import "Online Retail" Dataset</h2>         
</div>

### Overview of the Online Retail Dataset  

The **"Online Retail"** dataset is commonly used for data analysis in e-commerce, featuring the following attributes:  

- **InvoiceNo**: Unique transaction identifier, grouping items purchased together.  
- **StockCode**: Unique product identifier, useful for tracking sales and inventory.  
- **Description**: Textual description of products, aiding in understanding product types and preferences.  
- **Quantity**: Number of units sold in a transaction, important for analyzing sales volume.  
- **InvoiceDate**: Date and time of the transaction, crucial for time series and sales trend analysis.  
- **UnitPrice**: Price per unit, vital for revenue calculations and pricing strategies.  
- **CustomerID**: Unique customer identifier, valuable for customer behavior analysis and segmentation.  
- **Country**: Customer location, helping in geographic market analysis.  

### Uses of the Dataset  

1. **Sales Analysis**: Identifying bestsellers and trends.  
2. **Customer Segmentation**: Clustering based on buying behavior.  
3. **Inventory Management**: Optimizing stock levels and turnover.  
4. **Market Basket Analysis**: Understanding product bundling.  
5. **Predictive Modeling**: Forecasting future sales and behavior.  
6. **Time Series Analysis**: Modeling sales trends over time.  

With 541,909 observations, this dataset offers rich insights for informed decision-making in retail.

In [ ]:
# Load the dataset
or_df = pd.read_excel('Online_Retail.xlsx')
display(or_df.head())

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

<hr>
<div id="information"> 
    <h2>Information about the Dataset</h2>    
</div>

In [4]:
# Get the shape of the dataset, which returns the number of rows and columns
shape_of_the_dataset = or_df.shape
print("\nThe shape of the dataset -->", shape_of_the_dataset)

The shape of the dataset --> (541909, 8)

In [5]:
# Show summary statistics for the dataset
# This includes count, mean, standard deviation, minimum, 25%, 50%, 75%, and maximum values for numeric columns
# This includes count, unique(the number of unique values), top(the mode) and the frequency of the top value for object columns
print('\nThe dataset description:\n')

data_describe = or_df.describe(include = 'all')
display(data_describe)

The dataset description:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900,4070,4213,NaN,23260,NaN,NaN,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,10/31/2011 14:41,NaN,NaN,United Kingdom
freq,1114,2313,2369,NaN,1114,NaN,NaN,495478
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

In [3]:
# Display a concise summary of the dataset
# This summary includes the index dtype, column dtypes, non-null values, and memory usage 
print('\nMore information about the dataset:\n')

data_information = or_df.info()
display(data_information)

More information about the dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

None

In [6]:
# Calculate the number of unique values in each column of the dataset
print('\nNumber of unique data in the dataset:\n')

unique_data = or_df.nunique()
print(unique_data)

Number of unique data in the dataset:

InvoiceNo      25900
StockCode       4070
Description     4213
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

<hr>
<div id="pre-processing"> 
    <h2>Pre-processing</h2>    
</div>
<div>
    <ol>
        <li><a href="#convert_data_types">Convert Data Types</a></li>
        <li><a href="#duplicates">Duplicate Tuples</a></li>
        <li><a href="#missing_values">Handling Missing Values</a></li>
        <li><a href="#filter_out">Filter Out Unnecessary Data</a></li>        
        <li><a href="#outliers">Detecting Outliers (Noise)</a></li>                      
    </ol>
</div>
<br>

<hr>
<div id="convert_data-types"> 
    <h2>Convert Data Types</h2>    
</div>

In [ ]:
# Convert 'StockCode' column to categorical
or_df['StockCode'] = or_df['StockCode'].astype('category')

# Convert 'Description' column to categorical   
or_df['Description'] = or_df['Description'].astype('category') 

# Convert 'Country' column to categorical
or_df['Country'] = or_df['Country'].astype('category')

# Convert 'CustomerID' column to string
or_df['CustomerID'] = or_df['CustomerID'].astype('category')

# Display the data types for each column after conversion
print("\nData types after conversion:")
display(or_df.dtypes)

Data types after conversion --> InvoiceNo              object
StockCode            category
Description          category
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID           category
Country              category
dtype: object

<hr>
<div id="duplicates"> 
    <h2>Duplicate Tuples</h2>    
</div>

In [8]:
# Calculate the number of duplicate rows in the dataframe
Num_of_duplicate_rows = or_df.duplicated().sum()
print("\nThe number of duplicate rows -->", Num_of_duplicate_rows)

The number of duplicate rows --> 5268

In [10]:
# Identify all duplicated rows in the dataframe  
# 'duplicated(keep=False)' marks all duplicates (including the first occurrence as True)
df_all_duplicate = or_df[or_df.duplicated(keep=False)]
print("\nAll the rows and their duplicates:\n")
display(df_all_duplicate)

All the rows and their duplicates:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [11]:
# Identify only the duplicated rows in the dataframe
# 'duplicated()' without any parameters, meaning its output only shows the rows that are duplicates and excludes the first occurrences
duplicate = or_df[or_df.duplicated()]
print("\nJust duplicate rows:\n")
display(duplicate)

Just duplicate rows:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [12]:
# Drop all duplicate rows from the dataframe
# df_ADD --> df_after dropping duplicates
df_ADD = or_df.drop_duplicates()
print("\nThe dataset after dropping the duplicate tuples:\n")
display(df_ADD)

The dataset after dropping the duplicate tuples:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [25]:
# Check the shape to see how many duplicate rows were removed  
print(f'Dataset shape before dropping rows: {or_df.shape}')
print(f'Dataset shape after dropping rows: {df_ADD.shape}')

Dataset shape before dropping rows: (541909, 8)
Dataset shape after dropping rows: (536641, 8)

<hr>
<div id="missing_values"> 
    <h2>Handling Missing Values</h2>    
</div>
<div>
    <ol>
        <li><a href="#bf_ff">Backward Fill (bfill) and Forward Fill (ffill) methods</a></li>
        <li><a href="#mode">The Mode Method</a></li>
        <li><a href="#combination">Combination of Both Methods</a></li>             
        <li><a href="#output">Output the results</a></li>    
    </ol>
</div>
<br>

In [13]:
# Check for missing values in the dataframe
isna = pd.DataFrame(df_ADD.isna().sum(axis=0))
print(isna)

                  0
InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID   135037
Country           0

In [15]:
# Find missing values â€‹â€‹in other shapes
# Define unwanted values and consider them as null/missing  
unwanted_values = ['?', '!', '$', 'None', 'null', '', '*'] 

# Replace unwanted values with NaN   
for col in df_ADD.columns: 
    df_ADD.loc[:, col] = df_ADD[col].replace(unwanted_values, np.nan)

In [16]:
# Check for any NaN values now present in the dataframe  
missing_values_count = df_ADD.isna().sum() 

# Display the count of missing values for each column  
print("\nCount of missing values in each column:")  
print(missing_values_count[missing_values_count > 0])

Count of missing values in each column:
Description      1501
CustomerID     135037
dtype: int64

In [17]:
# Summary of missing data (percentage of missing values)
missing_summary = df_ADD.isnull().mean() * 100
print(f"\nPercentage of missing values in each column:\n{missing_summary}")

Percentage of missing values in each column:
InvoiceNo       0.000000
StockCode       0.000000
Description     0.279703
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     25.163377
Country         0.000000
dtype: float64

In [18]:
# Display rows with missing values  
rows_with_missing = df_ADD[df_ADD.isna().any(axis=1)]  
print("\nRows with missing values:")  
display(rows_with_missing)

Rows with missing values:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

<div id="bf_ff"> 
    <h2>Backward Fill (bfill) and Forward Fill (ffill) methods</h2>    
</div>

In [19]:
# Fill missing values in 'description' and 'customerID' using forward fill and backward fill
df_fill = df_ADD.copy()              # Create a copy of the dataframe
  
df_fill['Description'] = df_fill['Description'].fillna(method='ffill').fillna(method='bfill')  
df_fill['CustomerID'] = df_fill['CustomerID'].fillna(method='ffill').fillna(method='bfill')  

# Check if there are still any missing values  
print(df_fill[['Description', 'CustomerID']].isnull().sum())

Description    0
CustomerID     0
dtype: int64

<div id="mode"> 
    <h2>The Mode Method</h2>    
</div>

In [ ]:
# Create a copy of the dataframe
df_mode = df_ADD.copy()

# Impute missing values in 'Description' column with the mode
mode_description = df_mode['Description'].mode()[0]
df_mode['Description'].fillna(mode_description, inplace=True)

# Impute missing values in 'CustomerID' column with the mode
mode_customer_id = df_mode['CustomerID'].mode()[0]
df_mode['CustomerID'].fillna(mode_customer_id, inplace=True)

# Verify the imputation
print(df_mode[['Description', 'CustomerID']].isnull().sum())

Dataset shape before dropping rows: (536641, 8)
Dataset shape after dropping rows: (401604, 8)

<div id="combination"> 
    <h2>Combination of Both Methods</h2>    
</div>

### Rationale for Combining Mode and Forward/Backward Fill Methods

This project focuses on gaining insights into customer behavior, sales performance, and product trends. While imputation methods for missing values can impact data quality, the 'Description' and 'CustomerID' columns hold varying levels of importance relative to our primary analysis.
To ensure clarity and robustness in data preprocessing, the following approach was adopted:

1. **Mode Imputation for 'Description'**: Given that the 'Description' column had fewer missing values and is less critical for the primary analysis, the mode imputation method was used. This ensures consistency by replacing missing values with the most frequently occurring category.
2. **Forward/Backward Fill for 'CustomerID'**: The 'CustomerID' column had a significant number of missing values. Using the forward fill and backward fill methods helps avoid over-representation of a single customer ID, maintaining the temporal relevance and contextual accuracy of our data.

By documenting and comparing these methods, the goal is to provide a comprehensive view of the imputation techniques used, allowing for better decision-making and transparency in this analysis.

In [ ]:
# Create a copy of the dataframe
df_combined = df_ADD.copy()

# Impute missing values in 'Description' column with the mode
mode_description = df_combined['Description'].mode()[0]
df_combined['Description'].fillna(mode_description, inplace=True)

# Impute missing values in 'CustomerID' column using forward fill, then backward fill
df_combined['CustomerID'].fillna(method='ffill', inplace=True)
df_combined['CustomerID'].fillna(method='bfill', inplace=True)

# Verify the imputation
print(df_combined[['Description', 'CustomerID']].isnull().sum())

<div id="output"> 
    <h2>Output the results</h2>    
</div>

In [ ]:
# Descriptive Statistics: Check summary statistics for each dataset to see if there are significant differences
print('\nBaseline outcome: \n')  
display(df_ADD.describe())

print('\nForward Fill/Backward Fill method outcome: \n') 
display(df_fill.describe())
 
print('\nThe mode method outcome: \n')
display(df_mode.describe())

print('\nCombination of both methods outcome: \n')
display(df_combined.describe())

Baseline outcome:

            Quantity                    InvoiceDate      UnitPrice
count  536641.000000                         536641  536641.000000
mean        9.620029  2011-07-04 08:57:06.087421952       4.632656
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 10:52:00       1.250000
50%         3.000000            2011-07-19 14:04:00       2.080000
75%        10.000000            2011-10-18 17:05:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       219.130156                            NaN      97.233118

Forward Fill/Backward Fill method outcome:

            Quantity                    InvoiceDate      UnitPrice
count  536641.000000                         536641  536641.000000
mean        9.620029  2011-07-04 08:57:06.087421952       4.632656
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 10:52:00       1.250000
50%         3.000000            2011-07-19 14:04:00       2.080000
75%        10.000000            2011-10-18 17:05:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       219.130156                            NaN      97.233118

Drop method outcome:

            Quantity                    InvoiceDate      UnitPrice
count  401604.000000                         401604  401604.000000
mean       12.183273  2011-07-10 12:08:23.848567552       3.474064
min    -80995.000000            2010-12-01 08:26:00       0.000000
25%         2.000000            2011-04-06 15:02:00       1.250000
50%         5.000000            2011-07-29 15:40:00       1.950000
75%        12.000000            2011-10-20 11:58:30       3.750000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       250.283037                            NaN      69.764035

In [ ]:
print("\nContinue working with Combination of both methods after comparing different methods:\n")
display(df_combined)

Continue working with Forward Fill/Backward Fill method after comparing different methods:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

<hr>
<div id="filter_out"> 
    <h2>Filter Out Unnecessary Data</h2>    
</div>

In [ ]:
# Filter out negative quantities
df_filter_out = df_combined.copy()              # Create a copy of the dataframe
df_filter_out = df_filter_out[df_filter_out['Quantity'] > 0]
df_filter_out = df_filter_out[df_filter_out['UnitPrice'] > 0]

In [ ]:
# Check the shape to see how many rows were filtered out
print(f'Dataset shape before filter out: {df_combined.shape}')
print(f'Dataset shape after filter out: {df_filter_out.shape}')

Dataset shape before dropping rows: (536641, 8)
Dataset shape after dropping rows: (524878, 8)

<hr>
<div id="outliers"> 
    <h2>Detecting Outliers (Noise)</h2>    
</div>
<div>
    <ol>
        <li><a href="#z_score">Z-score method</a></li>          
    </ol>
</div>
<br>

<div id="z_score"> 
    <h2>Z-score method</h2>    
</div>

In [26]:
# Create a copy of the dataset
df_zscore = df_filter_out.copy()                    

# Calculate Z-scores for the specified columns  
# Z-score indicates how many standard deviations an element is from the mean
z_scores = stats.zscore(df_zscore[['Quantity', 'UnitPrice']])

In [27]:
# Create a new column 'is_outlier' in the dataset  
# Set it to True if any Z-score for the row is greater than 3 or less than -3  
# This indicates that the row is an outlier in at least one of the two columns  
df_zscore['is_outlier'] = (abs(z_scores) > 3).any(axis=1)

In [28]:
# Filter the dataset to show only the rows that are identified as outliers  
outliers_only = df_zscore[df_zscore['is_outlier']]   

# Output of the outliers  
display(outliers_only)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,is_outlier
246,536392,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2010-12-01 10:29:00,165.00,13705.0,United Kingdom,True
730,536437,17021,NAMASTE SWAGAT INCENSE,600,2010-12-01 12:12:00,0.24,13694.0,United Kingdom,True
870,536477,21137,BLACK RECORD COVER FRAME,480,2010-12-01 12:27:00,3.39,16210.0,United Kingdom,True
1814,536544,DOT,DOTCOM POSTAGE,1,2010-12-01 14:32:00,569.77,17841.0,United Kingdom,True
3041,536592,DOT,DOTCOM POSTAGE,1,2010-12-01 17:06:00,607.49,14606.0,United Kingdom,True
...,...,...,...,...,...,...,...,...,...
540070,581458,22197,POPCORN HOLDER,1500,2011-12-08 18:45:00,0.72,17949.0,United Kingdom,True
540071,581459,22197,POPCORN HOLDER,1200,2011-12-08 18:46:00,0.72,17949.0,United Kingdom,True
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,True
540908,581492,DOT,DOTCOM POSTAGE,1,2011-12-09 10:03:00,933.17,12433.0,United Kingdom,True
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,16558.0,United Kingdom,True

In [29]:
# Dataframe after removing outliers  
df_zscore = df_zscore[~df_zscore['is_outlier']]                # Use bitwise NOT to select non-outlier rows  

# Reset the index of the final dataset for cleaner indexing  
df_zscore.reset_index(drop=True, inplace=True)
df_zscore = df_zscore.drop('is_outlier', axis=1)               # Drop 'is_outlier' column

# Display the dataset after removing outliers 
display(df_zscore)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
523572,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
523573,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
523574,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
523575,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
523576,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
# Output the shape of the dataset after outlier detection
print(f'Dataset shape before removing outliers: {df_filter_out.shape}')
print(f'Dataset shape after removing outliers: {df_zscore.shape}')

Dataset shape after handling missing values: (524878, 8)
Dataset shape after removing outliers: (523577, 8)